In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv(r"C:\Users\kakar\Downloads\DS Data sets\Realestate_final.csv")

In [3]:
df=data.copy()

In [4]:
df

,links,price,Last Updated,Listing Type,Property Type,Building Type,City,Locality,Area,Price,...,Number of Rooms,Number of Bathroom,Number of Parking,View /Facing,Floor No.,Tower/Block,Additional Rooms,Age of Property (Years),Unit No,Total Floor Count
0,https://www.squareyards.com/resale-3-bhk-pooja...,₹ 1.04 Cr.,20 Apr 2022,Sale,Residential,Apartment,Hyderabad,Miyapur,1680 Sq.Ft. (Built-up Area),1.04 Cr.,...,3,2,2,North,2,1,"Pooja Room,Study Room,Extra Room",0-1,1,5
1,https://www.squareyards.com/resale-3-bhk-pooja...,₹ 1.04 Cr.,03 May 2022,Sale,Residential,Apartment,Hyderabad,Kondapur,1600 Sq.Ft. (Built-up Area),1.04 Cr.,...,3,3,1,West,2,1,"Pooja Room,Study Room",0-1,202,5
2,https://www.squareyards.com/resale-3-bhk-pooja...,₹ 69.46 Lac,28 Apr 2022,Sale,Residential,Apartment,Hyderabad,Kollur,1579 Sq.Ft. (Built-up Area),69.46 Lac,...,3,3,2,East,7,3,Pooja Room,0-1,95,15
3,https://www.squareyards.com/resale-3-bhk-pooja...,₹ 1.13 Cr.,29 Apr 2022,Sale,Residential,Apartment,Hyderabad,Kondapur,1515 Sq.Ft. (Built-up Area),1.13 Cr.,...,3,2,1,East,5,1,Pooja Room,0-1,10,5
4,https://www.squareyards.com/resale-2-bhk-serva...,₹ 46 Lac,29 Apr 2022,Sale,Residential,Apartment,Hyderabad,Tolichowki,1100 Sq.Ft. (Built-up Area),46 Lac,...,2,2,1,East,2,A,Servant Room,0-1,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1975,https://www.squareyards.com/resale-2-bhk-pooja...,₹ 63.25 Lac,14 Jul 2021,Sale,Residential,Apartment,Hyderabad,Bachupally,1150 Sq.Ft. (Built-up Area),63.25 Lac,...,2,2,1,East,6,A,Pooja Room,0-1,601,22
1976,https://www.squareyards.com/resale-2-bhk-pooja...,₹ 26.62 Lac,09 Nov 2021,Sale,Residential,Apartment,Hyderabad,Isnapur,1110 Sq.Ft. (Built-up Area),26.62 Lac,...,2,2,2,South,2,2,"Pooja Room,Study Room",0-1,25,4
1977,https://www.squareyards.com/resale-3-bhk-extra...,₹ 36.32 Lac,02 Dec 2021,Sale,Residential,Apartment,Hyderabad,Bandlaguda,1130 Sq.Ft. (Built-up Area),36.32 Lac,...,3,2,1,North,6,27,Extra Room,0-1,2,5
1978,https://www.squareyards.com/resale-2-bhk-pooja...,₹ 71.06 Lac,08 Dec 2021,Sale,Residential,Apartment,Hyderabad,Pragathi Nagar,1292 Sq.Ft. (Built-up Area),71.06 Lac,...,2,2,2,East,1,2,Pooja Room,0-1,2,7
1979,https://www.squareyards.com/resale-2-bhk-pooja...,₹ 55 Lac,07 Dec 2021,Sale,Residential,Apartment,Hyderabad,Suraram Colony,1250 Sq.Ft. (Built-up Area),55 Lac,...,2,2,1,East,2,a,"Pooja Room,Study Room,Extra Room",0-1,220,10

# DATA CLEANING

In [5]:
df=df.drop(['links','Price'], axis = 1) ## To removed un nessary columns

In [10]:
df['price'] = df['price'].str.replace(',', '')

df['price'] = df['price'].str.replace('₹', '')
df['price']
df                                                      ## removing symbols & ,""

,price,Last Updated,Listing Type,Property Type,Building Type,City,Locality,Area,Possession Status,Furnishing Status,Number of Rooms,Number of Bathroom,Number of Parking,View /Facing,Floor No.,Tower/Block,Additional Rooms,Age of Property (Years),Unit No,Total Floor Count
0,1.04 Cr.,20 Apr 2022,Sale,Residential,Apartment,Hyderabad,Miyapur,1680 Sq.Ft. (Built-up Area),Ready To Move,Semi-Furnished,3,2,2,North,2,1,"Pooja Room,Study Room,Extra Room",0-1,1,5
1,1.04 Cr.,03 May 2022,Sale,Residential,Apartment,Hyderabad,Kondapur,1600 Sq.Ft. (Built-up Area),Ready To Move,Unfurnished,3,3,1,West,2,1,"Pooja Room,Study Room",0-1,202,5
2,69.46 Lac,28 Apr 2022,Sale,Residential,Apartment,Hyderabad,Kollur,1579 Sq.Ft. (Built-up Area),Under Construction,Unfurnished,3,3,2,East,7,3,Pooja Room,0-1,95,15
3,1.13 Cr.,29 Apr 2022,Sale,Residential,Apartment,Hyderabad,Kondapur,1515 Sq.Ft. (Built-up Area),Ready To Move,Unfurnished,3,2,1,East,5,1,Pooja Room,0-1,10,5
4,46 Lac,29 Apr 2022,Sale,Residential,Apartment,Hyderabad,Tolichowki,1100 Sq.Ft. (Built-up Area),Ready To Move,Unfurnished,2,2,1,East,2,A,Servant Room,0-1,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1975,63.25 Lac,14 Jul 2021,Sale,Residential,Apartment,Hyderabad,Bachupally,1150 Sq.Ft. (Built-up Area),Under Construction,Unfurnished,2,2,1,East,6,A,Pooja Room,0-1,601,22
1976,26.62 Lac,09 Nov 2021,Sale,Residential,Apartment,Hyderabad,Isnapur,1110 Sq.Ft. (Built-up Area),Under Construction,Unfurnished,2,2,2,South,2,2,"Pooja Room,Study Room",0-1,25,4
1977,36.32 Lac,02 Dec 2021,Sale,Residential,Apartment,Hyderabad,Bandlaguda,1130 Sq.Ft. (Built-up Area),Under Construction,Unfurnished,3,2,1,North,6,27,Extra Room,0-1,2,5
1978,71.06 Lac,08 Dec 2021,Sale,Residential,Apartment,Hyderabad,Pragathi Nagar,1292 Sq.Ft. (Built-up Area),Ready To Move,Unfurnished,2,2,2,East,1,2,Pooja Room,0-1,2,7
1979,55 Lac,07 Dec 2021,Sale,Residential,Apartment,Hyderabad,Suraram Colony,1250 Sq.Ft. (Built-up Area),Ready To Move,Unfurnished,2,2,1,East,2,a,"Pooja Room,Study Room,Extra Room",0-1,220,10

In [11]:
df['price'][0].strip().strip(".").split(" ")

['1.04', 'Cr']

In [12]:

for i in range(len(df.price)):
    try:
        splits=df['price'][i].strip().strip(".").split(" ")
        # print(i,splits)
        if splits[1]=='cr'or splits[1]=='Cr':
            df['price'][i]=float(splits[0])*100
        else:
            df['price'][i]=float(splits[0])
    except:
        continue

In [13]:
df.price

0       104.0
1       104.0
2       69.46
3       113.0
4        46.0
        ...
1975    63.25
1976    26.62
1977    36.32
1978    71.06
1979     55.0
Name: price, Length: 1980, dtype: object

In [14]:
df.Area.value_counts()

1200 Sq.Ft. (Built-up Area)    130
1100 Sq.Ft. (Built-up Area)    107
1150 Sq.Ft. (Built-up Area)     99
1450 Sq.Ft. (Built-up Area)     82
1250 Sq.Ft. (Built-up Area)     80
                              ...
2980 Sq.Ft. (Built-up Area)      1
2323 Sq.Ft. (Built-up Area)      1
1820 Sq.Ft. (Built-up Area)      1
1353 Sq.Ft. (Saleable Area)      1
2450 Sq.Ft. (Built-up Area)      1
Name: Area, Length: 512, dtype: int64

In [15]:
for i in df:
    if df[i].dtype=='object':
        print(df[i].name, "\n",df[i].value_counts())

price
 39.15    52
60.00    49
70.00    44
65.00    35
48.00    32
         ..
96.52     1
79.20     1
30.14     1
83.75     1
50.85     1
Name: price, Length: 704, dtype: int64
Last Updated
 21 Feb 2022    54
04 Mar 2022    45
19 Mar 2022    39
22 Mar 2022    35
28 Feb 2022    34
               ..
13 Jul 2021     1
07 May 2022     1
24 Jul 2021     1
07 Feb 2022     1
06 Mar 2022     1
Name: Last Updated, Length: 203, dtype: int64
Listing Type
 Sale    1980
Name: Listing Type, dtype: int64
Property Type
 Residential    1980
Name: Property Type, dtype: int64
Building Type
 Apartment    1980
Name: Building Type, dtype: int64
City
 Hyderabad    1980
Name: City, dtype: int64
Locality
 Bacharam                162
Bachupally              150
Kompally                106
Miyapur                  95
Bowrampet                88
                       ...
Langar House              1
Bongloor                  1
Narayanguda               1
Sanjeeva Reddy Nagar      1
Srinagar Colony           1
Name: Locality, Length: 185, dtype: int64
Area
 1200 Sq.Ft. (Built-up Area)    130
1100 Sq.Ft. (Built-up Area)    107
1150 Sq.Ft. (Built-up Area)     99
1450 Sq.Ft. (Built-up Area)     82
1250 Sq.Ft. (Built-up Area)     80
                              ...
2980 Sq.Ft. (Built-up Area)      1
2323 Sq.Ft. (Built-up Area)      1
1820 Sq.Ft. (Built-up Area)      1
1353 Sq.Ft. (Saleable Area)      1
2450 Sq.Ft. (Built-up Area)      1
Name: Area, Length: 512, dtype: int64
Possession Status
 Under Construction    1027
Ready To Move          953
Name: Possession Status, dtype: int64
Furnishing Status
 Unfurnished       1383
Semi-Furnished     505
Furnished           92
Name: Furnishing Status, dtype: int64
Number of Parking
 1     1385
2      532
3       49
4       10
5        3
6+       1
Name: Number of Parking, dtype: int64
View /Facing
 East              1266
West               241
North              188
North East         101
North West          60
South               36
South East          26
Park Facing         24
South West          16
Garden Facing        9
Golf Course          5
Road View            3
Lake View            2
Garden View          1
Beach View           1
Community View       1
Name: View /Facing, dtype: int64
Floor No.
 2      411
3      390
4      289
1      245
5      230
      ...
231      1
15       1
419      1
27       1
502      1
Name: Floor No., Length: 110, dtype: int64
Tower/Block
 1          509
A          230
2          165
a          157
B          103
          ...
mounika      1
32           1
BLOCK A      1
A 10         1
logan        1
Name: Tower/Block, Length: 118, dtype: int64
Additional Rooms
 Pooja Room                                       1403
Pooja Room,Study Room                             137
Extra Room                                         99
Study Room                                         83
Pooja Room,Study Room,Extra Room                   69
Pooja Room,Servant Room,Study Room                 43
Servant Room                                       40
Pooja Room,Servant Room,Study Room,Extra Room      30
Pooja Room,Servant Room                            26
Pooja Room,Extra Room                              25
Study Room,Extra Room                              16
Servant Room,Study Room                             4
Pooja Room,Servant Room,Extra Room                  3
Servant Room,Study Room,Extra Room                  2
Name: Additional Rooms, dtype: int64
Age of Property (Years)
 0-1     1630
2-4      268
5-7       45
10+       20
8-10      17
Name: Age of Property (Years), dtype: int64
Unit No
 1       372
600      91
2        66
20       63
60       53
       ...
05        1
640       1
637       1
2332      1
355       1
Name: Unit No, Length: 371, dtype: int64
Total Floor Count
 5          822
9          156
10         103
6           99
4           94
          ...
g+11         1
g 9          1
1 to 10      1
C            1
36           1
Name: Total Floor Count, Length: 75, dtype: int64

In [16]:
### removing Sq.Ft. (Built-up Area) in data
df['Area']=df['Area'].replace(to_replace='''[SFBAabcdefghijklmnopqrstuvwxy,z.!"₹#$%&'()*+,/:;<=>?@[\]^_`{|}~]''',value="",regex=True)
df['Area']=df['Area'].replace(to_replace='-',value='',regex=True)

In [17]:
df["Area"]

0       1680
1       1600
2       1579
3       1515
4       1100
         ...
1975    1150
1976    1110
1977    1130
1978    1292
1979    1250
Name: Area, Length: 1980, dtype: object

In [18]:
df.columns

Index(['price', 'Last Updated', 'Listing Type', 'Property Type',
       'Building Type', 'City', 'Locality', 'Area', 'Possession Status',
       'Furnishing Status', 'Number of Rooms', 'Number of Bathroom',
       'Number of Parking', 'View /Facing', 'Floor No.', 'Tower/Block',
       'Additional Rooms', 'Age of Property (Years)', 'Unit No',
       'Total Floor Count'],
      dtype='object')

In [19]:
df['Area'].str.contains(r'[a-zA-Z]')

0       False
1       False
2       False
3       False
4       False
        ...
1975    False
1976    False
1977    False
1978    False
1979    False
Name: Area, Length: 1980, dtype: bool

In [20]:
df['Area']=df['Area'].str.strip().replace("[a-zA-Z]","",regex=True) #removing specialcheristrics in colum

In [21]:
df['Area']=pd.to_numeric(df['Area'])

In [22]:
df['Area'].dtype

dtype('int64')

In [23]:
df['Floor No.']=df['Floor No.'].replace(to_replace='''[SFBAabcdefghijklmnopqrstuvwxy,z.!"₹#$%&'()*+,/:;<=>?@[\]^_`{|}~]''',value="",regex=True)
df['Floor No.']=df['Floor No.'].replace(to_replace='-',value='',regex=True)

In [24]:
df['Total Floor Count']=df['Total Floor Count'].replace(to_replace='''[SFBAabcCdefgGhijklmnopqrstuvwxy,z.!"₹#$%&'()*+,/:;<=>?@[\]^_`{|}~]''',value="",regex=True)
df['Total Floor Count']=df['Total Floor Count'].replace(to_replace='-',value='',regex=True)

In [25]:
df=df.drop(['Building Type','City','Last Updated','Listing Type','Property Type','Tower/Block'], axis = 1) ## To removed un nessary columns

In [26]:
df

,price,Locality,Area,Possession Status,Furnishing Status,Number of Rooms,Number of Bathroom,Number of Parking,View /Facing,Floor No.,Additional Rooms,Age of Property (Years),Unit No,Total Floor Count
0,104.0,Miyapur,1680,Ready To Move,Semi-Furnished,3,2,2,North,2,"Pooja Room,Study Room,Extra Room",0-1,1,5
1,104.0,Kondapur,1600,Ready To Move,Unfurnished,3,3,1,West,2,"Pooja Room,Study Room",0-1,202,5
2,69.46,Kollur,1579,Under Construction,Unfurnished,3,3,2,East,7,Pooja Room,0-1,95,15
3,113.0,Kondapur,1515,Ready To Move,Unfurnished,3,2,1,East,5,Pooja Room,0-1,10,5
4,46.0,Tolichowki,1100,Ready To Move,Unfurnished,2,2,1,East,2,Servant Room,0-1,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1975,63.25,Bachupally,1150,Under Construction,Unfurnished,2,2,1,East,6,Pooja Room,0-1,601,22
1976,26.62,Isnapur,1110,Under Construction,Unfurnished,2,2,2,South,2,"Pooja Room,Study Room",0-1,25,4
1977,36.32,Bandlaguda,1130,Under Construction,Unfurnished,3,2,1,North,6,Extra Room,0-1,2,5
1978,71.06,Pragathi Nagar,1292,Ready To Move,Unfurnished,2,2,2,East,1,Pooja Room,0-1,2,7
1979,55.0,Suraram Colony,1250,Ready To Move,Unfurnished,2,2,1,East,2,"Pooja Room,Study Room,Extra Room",0-1,220,10

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1980 entries, 0 to 1979
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   price                    1980 non-null   object
 1   Locality                 1980 non-null   object
 2   Area                     1980 non-null   int64
 3   Possession Status        1980 non-null   object
 4   Furnishing Status        1980 non-null   object
 5   Number of Rooms          1980 non-null   int64
 6   Number of Bathroom       1980 non-null   int64
 7   Number of Parking        1980 non-null   object
 8   View /Facing             1980 non-null   object
 9   Floor No.                1980 non-null   object
 10  Additional Rooms         1980 non-null   object
 11  Age of Property (Years)  1980 non-null   object
 12  Unit No                  1980 non-null   object
 13  Total Floor Count        1980 non-null   object
dtypes: int64(3), object(11)
memory usage: 216.7+ KB

In [28]:
df.isnull().sum()

price                      0
Locality                   0
Area                       0
Possession Status          0
Furnishing Status          0
Number of Rooms            0
Number of Bathroom         0
Number of Parking          0
View /Facing               0
Floor No.                  0
Additional Rooms           0
Age of Property (Years)    0
Unit No                    0
Total Floor Count          0
dtype: int64

In [29]:
for col in df.columns:  ## to get data columns name
    print(col)

price
Locality
Area
Possession Status
Furnishing Status
Number of Rooms
Number of Bathroom
Number of Parking
View /Facing
Floor No.
Additional Rooms
Age of Property (Years)
Unit No
Total Floor Count

In [30]:
df[df.duplicated()]## To check wether the data set has duplicate or repeated columns

,price,Locality,Area,Possession Status,Furnishing Status,Number of Rooms,Number of Bathroom,Number of Parking,View /Facing,Floor No.,Additional Rooms,Age of Property (Years),Unit No,Total Floor Count
74,107.0,Suchitra Road,1950,Under Construction,Unfurnished,3,3,2,East,3,Pooja Room,0-1,60,10
206,71.47,Pragathi Nagar,1265,Under Construction,Unfurnished,2,2,1,East,3,Pooja Room,0-1,1,7
305,34.48,Bacharam,1150,Under Construction,Unfurnished,2,2,2,East,3,Pooja Room,0-1,2,5
313,39.15,Bacharam,1450,Under Construction,Unfurnished,2,2,1,North,4,Pooja Room,2-4,1,5
334,35.0,Bowenpally,220,Ready To Move,Semi-Furnished,3,3,2,East,5,Pooja Room,2-4,4,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1717,39.15,Bacharam,1450,Under Construction,Unfurnished,2,2,1,North,1,Pooja Room,2-4,1,5
1787,83.0,Madinaguda,1240,Ready To Move,Semi-Furnished,2,2,1,East,2,Pooja Room,2-4,20,4
1921,66.0,Pragathi Nagar,1200,Ready To Move,Furnished,2,2,4,East,3,"Pooja Room,Servant Room,Study Room,Extra Room",0-1,48,6
1923,27.58,Medchal,1150,Under Construction,Unfurnished,2,2,2,East,2,"Pooja Room,Servant Room,Study Room",0-1,1,5
1959,59.0,Gajularamaram,1180,Ready To Move,Semi-Furnished,2,2,1,West,5,Pooja Room,0-1,156,6

In [31]:
df.drop_duplicates()

,price,Locality,Area,Possession Status,Furnishing Status,Number of Rooms,Number of Bathroom,Number of Parking,View /Facing,Floor No.,Additional Rooms,Age of Property (Years),Unit No,Total Floor Count
0,104.0,Miyapur,1680,Ready To Move,Semi-Furnished,3,2,2,North,2,"Pooja Room,Study Room,Extra Room",0-1,1,5
1,104.0,Kondapur,1600,Ready To Move,Unfurnished,3,3,1,West,2,"Pooja Room,Study Room",0-1,202,5
2,69.46,Kollur,1579,Under Construction,Unfurnished,3,3,2,East,7,Pooja Room,0-1,95,15
3,113.0,Kondapur,1515,Ready To Move,Unfurnished,3,2,1,East,5,Pooja Room,0-1,10,5
4,46.0,Tolichowki,1100,Ready To Move,Unfurnished,2,2,1,East,2,Servant Room,0-1,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1975,63.25,Bachupally,1150,Under Construction,Unfurnished,2,2,1,East,6,Pooja Room,0-1,601,22
1976,26.62,Isnapur,1110,Under Construction,Unfurnished,2,2,2,South,2,"Pooja Room,Study Room",0-1,25,4
1977,36.32,Bandlaguda,1130,Under Construction,Unfurnished,3,2,1,North,6,Extra Room,0-1,2,5
1978,71.06,Pragathi Nagar,1292,Ready To Move,Unfurnished,2,2,2,East,1,Pooja Room,0-1,2,7
1979,55.0,Suraram Colony,1250,Ready To Move,Unfurnished,2,2,1,East,2,"Pooja Room,Study Room,Extra Room",0-1,220,10

In [32]:
df['Number of Parking']=df['Number of Parking'].str.replace('+',"")

In [33]:
df['Number of Parking'].unique()

array(['2', '1', '3', '6', '5', '4'], dtype=object)

In [ ]:
df['Number of Parking']=df['Number of Parking'].astype(int)

In [ ]:
df['Floor No.'].unique()

In [ ]:
df['Floor No.']=df['Floor No.'].str.strip()

In [ ]:
df['Floor No.'].unique()

In [ ]:
df[df['Floor No.']=='187423']

In [ ]:
df['Floor No.']=df['Floor No.'].replace('187423',"")

In [ ]:
df['Floor No.']=df['Floor No.'].replace('G',"")

In [ ]:
df['Floor No.'].unique()

In [ ]:
df['Floor No.']=df['Floor No.'].replace(('01  05','01  10','1  10','³','123 45','²'),('0105','0110','110','3','12345','2'))

In [ ]:
df['Floor No.'].unique()

In [ ]:
df['Floor No.']=df['Floor No.'].replace("",1)

In [ ]:
df['Floor No.']=df['Floor No.'].astype(int)

In [ ]:
df['Floor No.'].dtype

In [ ]:
del df['Unit No']

In [ ]:
df['Total Floor Count'].unique()

In [ ]:
df['Total Floor Count']=df['Total Floor Count'].str.strip()

In [ ]:
df['Total Floor Count'].unique()

In [ ]:
df['Total Floor Count']=df['Total Floor Count'].replace(("",'1  10','P315'),("1","10","15"))

In [ ]:
df['Total Floor Count'].unique()

In [ ]:
df['Total Floor Count']=df['Total Floor Count'].astype(int)

In [ ]:
df.to_csv(r'C:\Users\kakar\Downloads\DS Data sets\Realestate_finalfinallformodelbulding.csv',index= False)

In [ ]:
df_clean=pd.read_csv(r'C:\Users\kakar\Downloads\DS Data sets\Realestate_finalfinallformodelbulding.csv')

In [ ]:
df_clean

# VALUE COUNTS

In [ ]:
df_clean.price.value_counts()

In [ ]:
df_clean.Area.value_counts()

In [ ]:
df_clean['Number of Rooms'].value_counts()

In [ ]:
df_clean['Number of Bathroom'].value_counts()

In [ ]:
df_clean['Age of Property (Years)'].value_counts()

In [ ]:
df_clean[''].value_counts()

In [ ]:
df_clean['Total Floor Count'].value_counts()

In [ ]:
#df.to_csv(r'C:\Users\kakar\Downloads\DS Data sets\Real_final.csv',index= False)

# EDA

  The steps of EDA in Python
* removing unnessary columns 
* Exploratory Data Analysis (EDA) Steps with Python
* Check data shape (num of Rows & Columns) .
* Check each data type of columns and missing values (if missing values is present replace with mean & mode , if missing values are more then 50% in row drop).
* Splitting values. 
* Change the data type
* Check the percentages of missing value. 
* Summary Statistics. 
* Check value counts for a specific column. 
* Check duplicate values and deal with it.
* univariate,bivariate,multipl variet ANALYSIS (for each and ever column).
* checking co-relation.
* removing outliers.

** The main agenda of EDA process is to represent the data in visulization format like(graphs,charts,dashbords,plots) for better way to understand data easly

# univariate analysis

In [ ]:
df_clean.price.min()

In [ ]:
df_clean.price.max()

POSSESSION STATUS

In [ ]:
df_clean.columns

In [ ]:
sns.set_style('whitegrid')
sns.countplot(x='Possession Status',data=df_clean,palette='rainbow')
plt.show()

Furnishing Status

In [ ]:
sns.set_style('whitegrid')
sns.countplot(x='Furnishing Status',data=df_clean,palette='rainbow')
plt.show()

In [ ]:
df_clean['Furnishing Status'].value_counts()

View /Facing

In [ ]:
plt.figure(figsize=(19,7))
sns.set_style('whitegrid')
sns.countplot(x='View /Facing',data=df_clean,palette='rainbow')
plt.show()

In [ ]:
df_clean['View /Facing'].value_counts()

Number of Parking

In [ ]:
plt.figure(figsize=(19,7))
sns.set_style('whitegrid')
sns.countplot(x='Number of Parking',data=df_clean,palette='rainbow')
plt.show()

In [ ]:
df_clean['Number of Parking'].value_counts()

Additional Rooms

In [ ]:
plt.figure(figsize=(40,10))
sns.set_style('whitegrid')
sns.countplot(x='Additional Rooms',data=df_clean,palette='rainbow')
plt.show()

In [ ]:
df_clean['Additional Rooms'].value_counts()

Age of Property (Years)

In [ ]:
sns.set_style('whitegrid')
sns.countplot(x='Age of Property (Years)',data=df_clean,palette='rainbow')
plt.show()

Number of Bathroom

In [ ]:
sns.set_style('whitegrid')
sns.countplot(x='Number of Bathroom',data=df_clean,palette='rainbow')
plt.show()

In [ ]:
df_clean['Number of Bathroom'].value_counts()

Locality

In [ ]:
plt.figure(figsize=(40,10))
sns.set_style('whitegrid')
sns.countplot(x='Locality',data=df_clean,palette='rainbow')
plt.show()

In [ ]:

df_clean.Locality.value_counts()

In [ ]:
plt.figure(figsize=(40,10))
sns.set_style('whitegrid')
sns.countplot(x='Locality',data=df_clean.head(10),palette='rainbow')
plt.show()

In [ ]:
df_clean.Locality.min()

In [ ]:
df_clean.Locality.max()

In [ ]:
df_clean.Area.min()

In [ ]:
df_clean.Area.astype(float)

In [ ]:
df_clean.Area.max()

In [ ]:
df_clean.price.astype(float)

Total Floor Count

In [ ]:
plt.figure(figsize=(30,15))
sns.set_style('whitegrid')
sns.countplot(x='Total Floor Count',data=df_clean,palette='rainbow')
plt.show()

In [ ]:
values = df_clean['Total Floor Count'].value_counts()

In [ ]:
values

In [ ]:
plt.figure(figsize=(15,5))
sns.set_style('whitegrid')
sns.countplot(x='Total Floor Count',data=df_clean.head(20),palette='rainbow')
plt.show()

# Bi-variate analysis

price

In [ ]:
df_clean.head()

In [ ]:
df_clean.price = df.price.astype(float)

In [ ]:
df_clean.dtypes

In [ ]:
df_clean.describe()

In [ ]:
Model = round(df_clean[['Locality', 'price']].groupby(['Locality'], as_index=False).mean(),2).sort_values(ascending=False, by='price')
Model .head(20)

In [ ]:
#pd.set_option('display.max_rows',None)

In [ ]:
df_clean.groupby(['Locality','Area','Possession Status','Furnishing Status','View /Facing','Number of Parking']).agg({'price':['mean','min','max','size']})

TO check the min & max price of particular locations

In [ ]:
plt.figure(figsize=(30,15))
sns.barplot(x="Locality",y='price',data=Model.head(10))
plt.xticks(fontsize=20)
plt.show()

In [ ]:
df_clean['price'][df_clean['Locality']=='Abids'].min()

In [ ]:
#sns.set_style('whitegrid')
#sns.countplot(x='price', hue='Area',data=df)
#plt.show()

'Area', 'price'

In [ ]:
Model2 = round(df_clean[['Area', 'price']].groupby(['Area'], as_index=False).mean(),2).sort_values(ascending=False, by='price')
Model2 .head(20)

In [ ]:
plt.figure(figsize=(30,15))
sns.barplot(x="Area",y='price',data=Model2.head(10))
plt.xticks(fontsize=20)
plt.show()

'Possession Status'&'price

In [ ]:
Model3 = round(df_clean[['Possession Status', 'price']].groupby(['Possession Status'], as_index=False).mean(),2).sort_values(ascending=False, by='price')
Model3

In [ ]:
plt.figure(figsize=(30,15))
sns.barplot(x="Possession Status",y='price',data=Model3)
plt.xticks(fontsize=20)
plt.show()

Furnishing Status'& 'price

In [ ]:
Model4 = round(df_clean[['Furnishing Status', 'price']].groupby(['Furnishing Status'], as_index=False).mean(),2).sort_values(ascending=False, by='price')
Model4

In [ ]:
plt.figure(figsize=(30,15))
sns.barplot(x="Furnishing Status",y='price',data=Model4)
plt.xticks(fontsize=20)
plt.show()

price & View /Facing

In [ ]:
sns.set_style('whitegrid')
sns.barplot(x='price',y='View /Facing',data=df)
plt.show()

Number of Parking & price

In [ ]:
sns.set_style('whitegrid')
sns.barplot(x='price',y='Number of Parking',data=df)
plt.show()

Additional Rooms & price

In [ ]:
sns.set_style('whitegrid')
sns.barplot(x='price',y='Additional Rooms',data=df_clean)
plt.show()

# Multi-variate analysis:-

In [ ]:
plt.figure(figsize=(15,10))
sns.heatmap(df_clean.corr(),annot=True)
plt.show()

In [ ]:
df_clean.corr()

In [ ]:
df_clean.isnull().sum()

checking out liers

In [ ]:
sns.heatmap(df_clean.isnull(), yticklabels=False,cmap='viridis')
plt.show()

In [ ]:
plt.figure(figsize=(15,5))
df_clean.boxplot()
plt.show()

In [ ]:
def out(contin):
    x1=contin.quantile(0.05)
    x2=contin.quantile(0.95)
    q1=contin.quantile(0.25)
    q3=contin.quantile(0.75)
    iqr=q3-q1
    lower=q1-1.5*iqr
    upper=q3+1.5*iqr
    out1=contin[contin<lower].values
    out2=contin[contin>upper].values
    contin.replace(out1,x1,inplace=True)
    contin.replace(out2,x2,inplace=True)

In [ ]:
out(df_clean.price)
out(df_clean.Area)
out(df_clean['Floor No.'])
out(df_clean['Total Floor Count'])

In [ ]:
plt.figure(figsize=(15,5))
df_clean.boxplot()
plt.show()

In [ ]:
df_clean.info()

In [ ]:
df_clean.head()

# label Encoding

In [ ]:
x=df_clean.drop(['price'],axis=1)
x.head()

In [ ]:
x.columns

In [ ]:
x.dtypes

In [ ]:
y=df_clean[['price']]
y.head()

# OneHotEncoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(handle_unknown='ignore',sparse = False)

In [ ]:
x.head()

In [ ]:
bat=x.iloc[:,[0,2,3,7,9,10]]

In [ ]:
ball=x.iloc[:,[1,4,5,6,8,11]]

In [ ]:
ball

In [ ]:
result = pd.concat([bat,ball], axis=1, join='inner')
display(result)

In [ ]:
import joblib

joblib.dump(ohe,'ohe.joblib')

# CLUSTERING

In [ ]:
clust_data=x.iloc[:,[1,4,5,6,8,11]]

In [ ]:
clust_data.head()

In [ ]:
import sklearn

In [ ]:
# import libriers
from sklearn.cluster import KMeans

# To get max no of clusters

In [ ]:
### checking for no of clusters 
wcss=[] # within - cluster -sum of- clusters
## cde to get max no of clusters
for i in range(1,11):
    kmeans = KMeans(n_clusters=i, init='k-means++', random_state=0)
    kmeans.fit(clust_data)
    wcss.append(kmeans.inertia_)

print(wcss)

In [ ]:
plt.plot(range(1,11), wcss, marker="o")
plt.title('The Elbow Method')
plt.xlabel('no of clusters')
plt.ylabel('wcss')
plt.show()

# ELBOW IS DROPING AT 2 & 4 CLUSTERS WE ARE GOING WITH 3 CLUSTERS

In [ ]:
## fitting the kmean to data set
model=KMeans(n_clusters=3,random_state=0)

In [ ]:
y_kmeans= model.fit_predict(clust_data) ## appplying k means inthe data

In [ ]:
X1=np.array(clust_data)

In [ ]:
plt.scatter(X1[y_kmeans == 0, 0], X1[y_kmeans == 0, 1], s = 100, c = 'red', label ='cluster 1')
plt.scatter(X1[y_kmeans == 1, 0], X1[y_kmeans == 1, 1], s = 100, c = 'blue', label='cluster 2')
plt.scatter(X1[y_kmeans == 2, 0], X1[y_kmeans == 2, 1], s = 100, c = 'green', label='cluster 3')
plt.scatter(model.cluster_centers_[:,0],model.cluster_centers_[:,1],color="black",s=200,marker = "*")

#plt.scatter(X[:, 0], X[:, 1], s = 300, c = 'yellow', label = 'Centroids')
plt.title('Clusters of Data')
plt.legend()
plt.show()

In [ ]:
## adding clustering  varinle to exesting  dataset
df_clean["clustering"]=pd.Series(y_kmeans)
df_clean.head()

In [ ]:
df_clean.groupby(['clustering']).agg({'price':['mean','min','max','size']})

In [ ]:
df_clean['clustering']=df_clean['clustering'].replace({0:'premium',1:'high',2:'low'})

In [ ]:
df_clean.groupby(['clustering']).agg({'price':['mean','min','max','size']})

In [ ]:
df_clean.to_csv(r'C:\Users\kakar\Downloads\DS Data sets\Realestate_with_clusters.csv',index= False)

## IMPORTING CLUSTERED DATA

In [ ]:
Raw=pd.read_csv(r'C:\Users\kakar\Downloads\DS Data sets\Realestate_with_clusters.csv')
Raw.head()

### Classification

In [ ]:
df_class= Raw.copy()

In [ ]:
df_class.head()

### Regresssion

In [ ]:
df_reg= Raw.copy()

In [ ]:
df_reg.head()

In [ ]:
df=pd.read_csv(r'C:\Users\kakar\Downloads\DS Data sets\Realestate_finalformodelbulding.csv')

In [ ]:
df.info()

In [ ]:
x1=df.drop(['clustering'],axis=1)
x1

In [ ]:
y1=df['clustering']
y1

In [ ]:
y1.value_counts(normalize=True)*100

In [ ]:
y1=df['clustering']=df['clustering'].replace({'high':1,'low':0,'premium':2}) 
y1

In [ ]:
from sklearn .preprocessing import MinMaxScaler

In [ ]:
scale = MinMaxScaler()

In [ ]:
x_scale = scale.fit_transform(x1)

In [ ]:
names=x1.columns
names

In [ ]:
x11=pd.DataFrame(x_scale,columns=names)
x11

# classficaton model

# Testing & Training

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =train_test_split(x11,y1,test_size=0.30,random_state=0)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
import warnings
warnings.filterwarnings("ignore")


from sklearn import model_selection
from sklearn.utils import class_weight
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix,accuracy_score

In [ ]:
x_train.info()

In [ ]:
y1

In [ ]:
classifier = LogisticRegression()
classifier.fit(x_train,y_train)                       ##LOGISTIC
y_pred = classifier.predict(x_test)
confusion_matrix(y_pred,y_test)

In [ ]:
score1=accuracy_score(y_pred,y_test)

In [ ]:
classifier1 = KNeighborsClassifier()
classifier1.fit(x_train,y_train)                       ##KNN-CLASSIFIER
y_pred1 = classifier1.predict(x_test)
confusion_matrix(y_pred1,y_test)

In [ ]:
score2=accuracy_score(y_pred1,y_test)

In [ ]:

classifier2 = DecisionTreeClassifier()
classifier2.fit(x_train,y_train)                       ##DT-CLASSIFIER
y_pred2 = classifier2.predict(x_test)
confusion_matrix(y_pred2,y_test)

In [ ]:
score3=accuracy_score(y_pred2,y_test)

In [ ]:
classifier3 = SVC()
classifier3.fit(x_train,y_train)                       ##svc
y_pred3 = classifier3.predict(x_test)
confusion_matrix(y_pred3,y_test)

In [ ]:
score4=accuracy_score(y_pred3,y_test)

In [ ]:
classifier4 = RandomForestClassifier()
classifier4.fit(x_train,y_train)                       ##rf-CLASSIFIER
y_pred4 = classifier4.predict(x_test)
confusion_matrix(y_pred4,y_test)

In [ ]:
score5=accuracy_score(y_pred4,y_test)

In [ ]:
classifier5 = GaussianNB()
classifier5.fit(x_train,y_train)                       
y_pred5 = classifier5.predict(x_test)               #GaussianNB   navies bayiee
confusion_matrix(y_pred5,y_test)

In [ ]:
score6=accuracy_score(y_pred5,y_test)

In [ ]:
classifier6 = XGBClassifier()
classifier6.fit(x_train,y_train)                       ##xgb classfier
y_pred6 = classifier6.predict(x_test)
confusion_matrix(y_pred6,y_test)

In [ ]:
score7=accuracy_score(y_pred6,y_test)

In [ ]:
models = []
models.append(('LR', LogisticRegression()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC()))
models.append(('RF', RandomForestClassifier()))
models.append(('XGB', XGBClassifier()))

# evaluate each model in turn
results = []
names = []
scoring = 'accuracy'
seed = 7
for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state = None)
    cv_results = model_selection.cross_val_score(model, x1 , y1, cv=kfold, scoring=scoring)
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

# boxplot algorithm comparison
fig = plt.figure()
fig.suptitle('Algorithm Comparison')
ax = fig.add_subplot(111)
plt.boxplot(results)
ax.set_xticklabels(names)
plt.show()

In [ ]:
joblib.dump(classifier1,'classfication.pkl')

In [ ]:
models=pd.DataFrame({'Model':['logistic regression','K-NEAREST NEIGHBOUR','DESSION TREE CLASSFIER','NAVIE BAYIES CLASSFIER','SUPPORTIVE VECTOR MACHIE','RANDOM FOREST CLASSFIER','XG-BOOST CLASSFIER'],
                     'Accuracy':[score1,score2,score3,score4,score5,score6,score7]
                    })

In [ ]:
models

# Removing price column

In [ ]:
df

In [ ]:
df.drop(['price'],axis =1)

In [ ]:
x2=df.drop(['clustering'],axis=1)
x2

In [ ]:
y2=df['clustering']
y2

In [ ]:
classifier = LogisticRegression()
classifier.fit(x_train,y_train)                       ##LOGISTIC
y_pred = classifier.predict(x_test)
confusion_matrix(y_pred,y_test)

In [ ]:
Score1=accuracy_score(y_pred,y_test)
Score1

In [ ]:
classifier1 = KNeighborsClassifier()
classifier1.fit(x_train,y_train)                       ##KNN-CLASSIFIER
y_pred1 = classifier1.predict(x_test)
confusion_matrix(y_pred1,y_test)

In [ ]:
Score2=accuracy_score(y_pred1,y_test)
Score2

In [ ]:

classifier2 = DecisionTreeClassifier()
classifier2.fit(x_train,y_train)                       ##DT-CLASSIFIER
y_pred2 = classifier2.predict(x_test)
confusion_matrix(y_pred2,y_test)

In [ ]:
Score3=accuracy_score(y_pred2,y_test)
Score3

In [ ]:
classifier3 = SVC()
classifier3.fit(x_train,y_train)                       ##svc
y_pred3 = classifier3.predict(x_test)
confusion_matrix(y_pred3,y_test)

In [ ]:
Score4=accuracy_score(y_pred3,y_test)
Score4

In [ ]:
classifier4 = RandomForestClassifier()
classifier4.fit(x_train,y_train)                       ##rf-CLASSIFIER
y_pred4 = classifier4.predict(x_test)
confusion_matrix(y_pred4,y_test)

In [ ]:
Score5=accuracy_score(y_pred4,y_test)
Score5

In [ ]:
classifier5 = GaussianNB()
classifier5.fit(x_train,y_train)                       
y_pred5 = classifier5.predict(x_test)               #GaussianNB   navies bayiee
confusion_matrix(y_pred5,y_test)

In [ ]:
Score6=accuracy_score(y_pred5,y_test)
Score6

In [ ]:
classifier6 = XGBClassifier()
classifier6.fit(x_train,y_train)                       ##xgb classfier
y_pred6 = classifier6.predict(x_test)
confusion_matrix(y_pred6,y_test)

In [ ]:
Score7=accuracy_score(y_pred6,y_test)
Score7

In [ ]:
models = []
models.append(('LR', LogisticRegression()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC()))
models.append(('RF', RandomForestClassifier()))
models.append(('XGB', XGBClassifier()))

# evaluate each model in turn
results = []
names = []
scoring = 'accuracy'
seed = 7
for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state = None)
    cv_results = model_selection.cross_val_score(model, x1 , y1, cv=kfold, scoring=scoring)
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

# boxplot algorithm comparison
fig = plt.figure()
fig.suptitle('Algorithm Comparison')
ax = fig.add_subplot(111)
plt.boxplot(results)
ax.set_xticklabels(names)
plt.show()

In [ ]:
models1=pd.DataFrame({'Model':['logistic regression','K-NEAREST NEIGHBOUR','DESSION TREE CLASSFIER','NAVIE BAYIES CLASSFIER','SUPPORTIVE VECTOR MACHIE','RANDOM FOREST CLASSFIER','XG-BOOST CLASSFIER'],
                     'Accuracy':[Score1,Score2,Score3,Score4,Score5,Score6,Score7]
                    })

In [ ]:
models1

In [ ]:
joblib.dump(classifier1,'class.pkl')

# REGRESSION MODEL

multiple linear regression

# Train test split

In [ ]:
df

In [ ]:
x=df.drop('price',axis=1)
y=df[['price']]

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
y

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import r2_score
model = LinearRegression()
model.fit(x_train,y_train)

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
y_pred

In [ ]:
y_test

In [ ]:
len(y_test)

In [ ]:
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('mean absolute error:', metrics.mean_absolute_error(y_test, y_pred))
print("r2 score value:", metrics.r2_score(y_test, y_pred))
print("Adjusted R^2:",1 - (1-metrics.r2_score(y_test, y_pred))*(len(y_test)-1)/(len(y_test)- x_test.shape[1]-1))

# RANDOM FOREST

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
model_2 = RandomForestRegressor()
model_2.fit(x_train,y_train)

In [ ]:
y_pred = model_2.predict(x_test)
y_pred

In [ ]:
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('mean absolute error:', metrics.mean_absolute_error(y_test, y_pred))
print("r2 score value:", metrics.r2_score(y_test, y_pred))
print("Adjusted R^2:",1 - (1-metrics.r2_score(y_test, y_pred))*(len(y_test)-1)/(len(y_test)- x_test.shape[1]-1))

In [ ]:
joblib.dump(model_2,'regression.pkl')